<super-navbar>
  <super-navbar-title>
    Submit UTI Report
  </super-navbar-title>
</super-navbar>

<div class="padding" ng-controller ="ReportController">

 <super-navigate location="example#UserProfile" data-params-id="{{ Category.createdBy }}">
    <button class="button button-block">View Patient Profile</button>
</super-navigate>

<div class="QuestionMargin">
  <h4>Category 1</h4>
</div>

<div>

    <div>
      <div>
        Are you pregnant?
      </div>
      <strong>
        {{Category.pregnant}}
      </strong>
    </div>
    <br>
    <div>
      <div>
        Do you see blood in your urine?
      </div>
      <strong>
        {{Category.blood}}
      </strong>
    </div>
    <br>
    <div>
      <div>
        Do you have a fever (>100.4F or >38C)?
      </div>
      <strong>
        {{Category.fever}}
      </strong>
    </div>
    <br>
    <div>
      <div>
        Do you have vaginal itching, burning, or discharge?
      </div>
      <strong>
        {{Category.vaginal}}
      </strong>
    </div>
    <br>
    <div>
      <div>
        Do you have new back or flank (side of back) pain?
      </div>
      <strong>
        {{Category.flank}}
      </strong>
    </div>
</div>

<div class="QuestionMargin" style="margin-top:30px;">
<h4>Category 2</h4>
</div>
<h6>Check all that apply</h6>

<div class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Category.dysuria" onclick="return false">
     </label>
     Burning or pain with urination
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Category.frequency" onclick="return false">
     </label>
     Increased frequency of urination
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Category.urgency" onclick="return false">
     </label>
     Increaased urgency of urination
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Category.suprapubi" onclick="return false">
     </label>
     Discomfort or pressure<br>in the lower abdomen
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Category.foul" onclick="return false">
     </label>
     Foul smelling or cloudy urine
  </li>
</div>


<div ng-show="Category.clinic">
  <button ng-click="suggest(Category.objectId)" class="button button-block button-negative">Suggest Clinic Visit</button>
  </div>

<div ng-hide="Category.clinic"
 <super-navigate location="example#getting-started">
    <button ng-click="approve(Category.objectId)" class="button button-block button-balanced">
     Approve

    </button>
    <button ng-click="suggest(Category.objectId)" class="button button-block button-negative">Suggest Clinic Visit</button>
</super-navigate>
</div>
</div>
