<div class="padding" ng-controller="RootController">

  <super-navbar>
    <super-navbar-title>
      AmandaCare
    </super-navbar-title>
  </super-navbar>

<form name="mail">
<!-- <input type="button" value="Click!" ng-click="sendMail()"> -->
</form>
    <!-- <button ng-click="checkUserSubmitted()" class="button button-block button-positive icon-left super-ios7-medkit-outline">View pending cases</button> -->

   	<h4>List of Cases</h4>
	
	    <div class="list list-inset">
				<!-- <super-navigate class="item item-button-right" ng-repeat="patient in patients" location = "example#UserProfile" data-params-id="{{ patient.get('profile') }}">
		    		{{patient.get("username")}}
				    <button class="button button-positive">
				      <i class="super-close-round"></i>
				      <i class="super-close">
				    </button>
			    </super-navigate> -->
			    <super-navigate class="item item-button-right" ng-repeat="case in cases" location = "example#Case" data-params-id="{{ case.objectId }}">
		    		{{ case.now }}
		    		<div ng-if="case.status == 'Approved'">
		    		<br>
				    	<button class="button button-balanced icon-left super-checkmark-circled status">
				    	{{ case.status }}
				    	</button>
				    </div>
				    <div ng-if="case.status == 'Pending'">
				    <br>
				    	<button class="button button-calm icon-left super-alert-circled status">
				    	{{ case.status }}
				    	</button>
				    </div>
				    <div ng-if="case.status == 'Denied'">
				    <br>
				    	<button class="button button-assertive icon-left super-close-circled status">
				    	{{ case.status }}
				    	</button>
				    </div>
			    </super-navigate>
		</div>


</div>
