<div class="padding" ng-controller="RootController">

  <super-navbar>
    <super-navbar-title>
      AmandaCare
    </super-navbar-title>
  </super-navbar>

    <!-- <button ng-click="checkUserSubmitted()" class="button button-block button-positive icon-left super-ios7-medkit-outline">View pending cases</button> -->

   	<h4>Cases</h4>
	
	    <div class="list list-inset">
				<!-- <super-navigate class="item item-button-right" ng-repeat="patient in patients" location = "example#UserProfile" data-params-id="{{ patient.get('profile') }}">
		    		{{patient.get("username")}}
				    <button class="button button-positive">
				      <i class="super-close-round"></i>
				      <i class="super-close">
				    </button>
			    </super-navigate> -->
			    <super-navigate class="item item-button-right" ng-repeat="case in cases" location = "example#Case" data-params-id="{{ case.objectId }}">
		    		{{ case.now }}
				    <button class="button button-positive">
				    	{{ case.status }}
				      <!-- <i class="super-close-round"></i> -->
				      <!-- <i class="super-close"> -->
				    </button>
			    </super-navigate>
		</div>


</div>
