<div class="padding" ng-controller="UserProfileController">

  <super-navbar>
    <super-navbar-title>
      	Patient Profile
    </super-navbar-title>
  </super-navbar>

  <div class="list">

<label class="item item-input">
    <span class="input-label">First Name</span>
    <p>{{Profile.firstName}}</p>
  </label>

  <label class="item item-input">
    <span class="input-label">Last Name</span>
    <p>{{Profile.lastName}}</p>
  </label>

<label class="item item-input">
    <span class="input-label">Gender</span>
    <p>{{Profile.gender}}</p>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Race
    </div>
    <p>{{Profile.race}}</p>
  </label>

<div class="QuestionMargin">
<h4 >Home Address</h4>
</div>

  <label class="item item-input">
    <span class="input-label">Street Address</span>
    <p> {{Profile.streetAddress}}</p>
  </label>

  <label class="item item-input">
    <span class="input-label">City/Town</span>
    <p>{{Profile.city}}</p>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      State
    </div>
      <p>{{Profile.state}}</p>
  </label>

<label class="item item-input">
    <span class="input-label">Zip Code</span>
    <p>{{Profile.zipCode}}</p>
  </label>
    <h4>Allergy Information</h4>

<div class="list">
<ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.sulfa" onclick="return false">
     </label>
     Sulfa
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.penicillin" onclick="return false">
     </label>
     Penicillin
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.nitrofurantoin" onclick="return false">
     </label>
     Nitrofurantoin
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.fluoroquinolone" onclick="return false">
     </label>
     Fluoroquinolone
  </li>
  <li class="item item-input">
    <input type="text" placeholder="Type in any other allergies" ng-model="Profile.otherAllergy" onclick="return false">
  </label>
  </li>
</ul>
<button ng-click="authorize()" class="button button-block button-positive">Authorize</button>
<button ng-click="suggestClinicVisit()" class="button button-block button-positive">Suggest Clinic Visit</button>
</div>
</div>
