<div class="padding" ng-controller="UserProfileController">


  <super-navbar>
    <super-navbar-title>
      	Patient Profile
    </super-navbar-title>
  </super-navbar>

  <div class="list">
<img class= "img-profile" ng-src = "{{URL}}">
<label class="item item-input">
    <span class="input-label">First Name</span>
    <p>{{Profile.firstName}}</p>
  </label>

  <label class="item item-input">
    <span class="input-label">Last Name</span>
    <p>{{Profile.lastName}}</p>
  </label>

<label class="item item-input">
    <span class="input-label">Gender</span>
    <p>{{Profile.gender}}</p>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Race
    </div>
    <p>{{Profile.race}}</p>
  </label>

<div class="QuestionMargin">
<h4 >Home Address</h4>
</div>

  <label class="item item-input">
    <span class="input-label">Street Address</span>
    <p> {{Profile.streetAddress}}</p>
  </label>

  <label class="item item-input">
    <span class="input-label">City/Town</span>
    <p>{{Profile.city}}</p>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      State
    </div>
      <p>{{Profile.state}}</p>
  </label>

<label class="item item-input">
    <span class="input-label">Zip Code</span>
    <p>{{Profile.zipCode}}</p>
  </label>
    <h4>Allergy Information</h4>

<div class="list">
<ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.sulfa" onclick="return false">
     </label>
     Sulfa
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.penicillin" onclick="return false">
     </label>
     Penicillin
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.nitrofurantoin" onclick="return false">
     </label>
     Nitrofurantoin
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.fluoroquinolone" onclick="return false">
     </label>
     Fluoroquinolone
  </li>
  <li class="item">
    <p>{{Profile.otherAllergy}}</p>
  </label>
  </li>
</ul>
</div>





</label>
    <h4>Past Medical History</h4>

<div class="list">
<ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.past1" onclick="return false">
     </label>
     Cancer
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.past2" onclick="return false">
     </label>
     HIV/AIDS
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.past3" onclick="return false">
     </label>
     Diarrhea
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" ng-model="Profile.past4" onclick="return false">
     </label>
     Swine Flu
  </li>
  <li class="item">
    <p>{{Profile.pastOther}}</p>
    <textarea name="Text1" cols="40" rows="3">
    </textarea>
  </label>
  </li>
</ul>
</div>

</label>
    <h4>Past Surgical History</h4>
  
<div class="list">
<ul class="list">
    </li>
    <li class="item">
      <!-- <input type="text" placeholder="Please provide surgical history" ng-model="Profile.surgeryHistory"> -->
      <p>{{Profile.surgeryHistory}}</p>
      <!-- <textarea name="Text1" cols="40" rows="5"> -->
      <!-- </textarea> -->
    </li>
</ul>
</div>


<div class="QuestionMargin">
<h4 >Insurance Information</h4>

<div class="list">

<label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Insurance Group ID</span>
    <p>{{Profile.InsuranceGroupId}}</p>
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Person Responsible for Policy</span>
    <p>{{Profile.PolicyPerson}}</p>
  </label>

  <label class="item item-input  item-stacked-label">
    <span class="input-label profile-span">Insurance Company</span>
    <p>{{Profile.InsuranceCompany}}</p>
  </label>

</div>
    </div>

<div class="QuestionMargin">
<h4>Physician Information</h4>

<div class="list">

<label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Physician Name</span>
    <p>{{Profile.PhysicianName}}</p>
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label profile-span">City</span>
    <p>{{Profile.PhysicianCity}}</p>
  </label>
</div>
    </div>

<div class="QuestionMargin">
<h4>Pharmacy Information</h4>

<div class="list">

<label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Pharmacy Name</span>
    <p>{{Profile.PharmacyName}}</p>
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label profile-span">City</span>
    <p>{{Profile.PharmacyCity}}</p>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Zipcode</span>
    <p>{{Profile.PharmacyZipcode}}</p>
  </label>
</div>
</div>

<div class="QuestionMargin">
<h4 >Payment Information</h4>

<div class="list">

<label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Credit Card Number</span>
    <p>{{Profile.CreditCardNumber}}</p>
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label profile-span">Expiration Date</span>
    <p>{{Profile.ExpirationDate}}</p>
  </label>

  <label class="item item-input  item-stacked-label">
    <span class="input-label profile-span">Name on the Card</span>
    <p>{{Profile.CardName}}</p>
  </label>

  <label class="item item-input  item-stacked-label">
    <span class="input-label profile-span">CVV</span>
    <p>{{Profile.CVV}}</p>
  </label>
</div>
    </div>

</ul>

</div>
</div>

